/*ESTAMOS IMPORTANDO EL GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*SE DICE QUE TODO VA A TENER LAS SIGUIENTES ESPECIFICACIONES*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.3rem;
    color: white;
    text-align: left;
    line-height: 1.9rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: teal;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    
}
/*SI TENEMOS UN SPAN PODEMOS HACER ESTO PARA AFECTAR SOLO EL SPAN*/
.section-title span{
    color: black;
}
.section-title{
    text-align: center;
}

/*HERO SECTION*/
#hero{
    background-image: url("https://i.imgur.com/DLRxtmt.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    /*El after es algo que se usa para otra acción, como un después*/
    /*El "content" hace que sea al contenido o al contenedor que en este caso sería todo*/
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /*opacity sirve para la opacidad*/
    opacity: .6;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
/*Aqui se está haciendo lo de las letra que dicen Hola mi nombre es Fernando*/
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
/*Aquí hacemos animación de uno a uno*/
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
/*Aquí terminamos de hacer la animación de uno a uno*/


/*Aquí se hace lo de los bloques de color en Hola mi nombre es Fernando*/
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: teal;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
/*Para la animación de cada bloque de letra*/
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/*Aquí se está haciendo lo del botón*/
#hero .cta{
    display: block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid teal;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-align: center
}
/*Hover al botón para que cambie de color al poner el click*/
#hero .cta:hover{
    color: whitesmoke;
    background-color: teal;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: teal
}
/*END HERO SECTION*/




/*SERVICES SECTION*/

#services .services{
    flex-direction: column;   
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    display: icon_reveal;
}


#services .service-top p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    font-family: 'Roboto', sans-serif;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(https://i.imgur.com/aKJD0hK.jpg);
    /*El cover sirve para que solo agarre el espacio que debe*/
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
    
}
#services .service-bottom .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
/*Esto es para cambiar el color del h2*/
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/*END SERVICES SECTION*/


/*MEDIA BAR*/
/*
.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

#social-bar .iconSocial{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s; 
    background: transparent;
}

.iconSocial:hover{
    padding-right: 1rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.42);
}
*/
/*END MEDIA BAR*/

/*PROJECT SECTION*/
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/*END PROJECT SECTION*/

/*CONTACT SECTION*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 300px;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
    transition: .1s ease box-shadow;
}
/*END CONTACT SECTION*/

/*FOOTER*/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer p{
    text-align: center;
    font-size: 1.3rem;
}

/*END FOOTER*/


/*KeyFrames*/

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
       color: white; 
    }
}
@keyframes text_reveal_name{
    100%{
        color: teal;
        font-weight: 500;
    }
}
/*End KeyFrames*/

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
    /* End Project */
    
    /* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	#services .service-bottom .service-item {
		flex-basis: 50%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop*/