/*ESTAMOS IMPORTANDO EL GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*SE DICE QUE TODO VA A TENER LAS SIGUIENTES ESPECIFICACIONES*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*HERO SECTION*/
#hero{
    background-image: url("https://i.imgur.com/DLRxtmt.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    /*El after es algo que se usa para otra acción, como un después*/
    /*El "content" hace que sea al contenido o al contenedor que en este caso sería todo*/
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /*opacity sirve para la opacidad*/
    opacity: .6;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
/*Aqui se está haciendo lo de las letra que dicen Hola mi nombre es Fernando*/
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
/*Aquí hacemos animación de uno a uno*/
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
/*Aquí terminamos de hacer la animación de uno a uno*/


/*Aquí se hace lo de los bloques de color en Hola mi nombre es Fernando*/
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: teal;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
/*Para la animación de cada bloque de letra*/
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/*Aquí se está haciendo lo del botón*/
#hero .cta{
    display: block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid teal;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
}
/*Hover al botón para que cambie de color al poner el click*/
#hero .cta:hover{
    color: whitesmoke;
    background-color: teal;
}
/*END HERO SECTION*/


/*KeyFrames*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
       color: white; 
    }
}
@keyframes text_reveal_name{
    100%{
        color: teal;
        font-weight: 500;
    }
}
/*End KeyFrames*/